.notice {
	font-family: "Open Sans", arial, sans-serif;
	padding: 10px;
	border: 1px solid;
	background: #979;
}

table {
	font-family: "Open Sans", arial, sans-serif;
	font-size: 0.8em;
	border: 1px solid;
}

table > tbody > tr:nth-child(even) {
	background: #EDE;
}
table > tbody > tr:nth-child(odd) {
	background: #DCD;
}